
.headerOne {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    justify-content: right;
    padding-right: 30px;
}
  
#header {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
  
.headlink {
    list-style: none;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
  
ul a {
    text-decoration: none;
    color: black;
}

ul li:hover {
    color: rgb(68, 129, 228);
}

.cart-container {
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#crochetname {
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    padding-left: 30px;
    font-size: 25px;
    gap: 10px;
}

.burger {
    display: none;
}

.burger-links {
  list-style: none;
  font-size: 20px;
  font-family: sans-serif;
}

.burger-links li {
  padding-top: 20px;
}

.cartSlider{
  height: 90vh;
  width: 300px;
  background-color: rgb(117, 142, 223);
  transition: all 0.3s ease-in-out;
  z-index: 999;
  position:absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 5px 8px rgba(32, 32, 32, 0.73);

}

.cartContainer{
  height: auto;
  width: 90%;
  overflow-x: scroll;
  background-color: white ;
  padding: 5px;
}

.cartimage{
  width: 70px;
  height: 70px;
}

.cartCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 15px;
  border-bottom: 1px solid black;
}

@media (max-width: 900px) {

  #header{
    justify-content: space-between;
  }

  #crochetname{
    text-align: center;
    font-size: 22px;
    padding-left: 0;
  }

  .headerOne {
    display: none;
  } 

  .burger {
    display: flex;
  }
}