

footer {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.footContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.iconsLog {
    width: 20px;
    height: 20px;
    background-color: rgba(117, 142, 223, 0.819);
    border-radius: 50%;
    padding: 5px;
}

.ftlink {
    list-style: none;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.ftlink li:hover {
    color:rgba(117, 142, 223, 0.819) ;
}

p {
    padding-bottom: 10px;
}

.ftlink li{
    padding: 10px;
    font-family: sans-serif;
}

.socials{
    display: flex;
    gap: 3px;
}

@media (max-width:992px) {
    footer {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .footContainer {
        flex-direction: column;
    }

    .ftlink {
        flex-direction: column;
    }
}